# UT
output
st_report/
ut_report/
.coverage

# IDE
# devcontainer使用包含vscode相关配置
# .vscode
.codemate
.host-gitconfig

# Binary
*.so

# Python
__pycache__/
msopgen/_build_info.py
.pytest_cache/
*.egg-info/
*.egg
build/
dist/
msopgen/new_op_project_template
test/build.sh
test/op_kernel
artifacts

# Environments
.env
.venv
env/
venv/
ENV/

#others
thirdparty
